{% extends 'base.html.twig' %}

{% block title %}HumanSix{% endblock %}

{% block body %}
<div>
    <form>
        <label for="username">
            <input type="text" name="username" id="username" placeholder="Login" required autofocus>
        </label>
        <label for="password">
            <input type="text" name="password" id="password" placeholder="Pass" required autofocus>
        </label>
        <button class="login-boutton" id="boutton" type="submit" >
            Connexion
        </button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </form>
</div>
{% endblock %}
