{% extends 'base.html.twig' %}

{% block title %}Hello CreateOrderController!{% endblock %}

{% block body %}

    {{ form_start(orderForm) }}
    {{ form_end(orderForm) }}

    <button>
        <a href="{{ url('home_profil') }}">Retour</a>
    </button>

{% endblock %}
