{% extends 'base.html.twig' %}

{% block title %}New Order{% endblock %}

{% block body %}
    <h1>Nouvelle commande</h1>

    {{ include('order/_form.html.twig') }}

    <a href="{{ path('order_index') }}">Retour à la liste</a>
{% endblock %}
